.container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: gainsboro;
  height: fit-content;
  width: fit-content;
  padding: 16px;

  .card-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}